matplotlib==3.4.3
numpy==1.21.2
scikit-learn==1.0
scipy==1.7.1
pandas==1.3.3
svgutils==0.3.4
manubot==0.5.1
panflute==2.1.0
pandoc-fignos==2.4.0
pandoc-eqnos==2.5.0
pandoc-tablenos==2.3.0
seaborn==0.11.1
